.desktop-1-child,
.photoholgic-jk9dt34tfui-unspla-icon {
  position: absolute;
  top: 0;
  width: 1441px;
  height: 732px;
  object-fit: cover;
}
.desktop-1-child {
  top: 2501px;
  left: 1061px;
  border-radius: var(--br-3xs);
  width: 278px;
  height: 374px;
}
.star,
.user {
  position: absolute;
  top: 1406.31px;
  left: 776.9px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.star {
  top: 1517.48px;
  left: 705.65px;
}
.footer-icon {
  position: absolute;
  top: 5601px;
  left: 0;
  width: 1444px;
  height: 701px;
}
.desktop-1-inner,
.desktop-1-item {
  position: absolute;
  border-radius: var(--br-5xs);
  width: 339px;
  height: 63px;
}
.desktop-1-item {
  top: 5796px;
  left: 995px;
  background-color: rgba(189, 176, 176, 0.8);
}
.desktop-1-inner {
  top: 5873px;
  left: 996px;
  background-color: var(--color-orangered);
}
.i-agree-to {
  position: absolute;
  top: 5952px;
  left: 1023px;
  font-size: 14px;
}
.email-address {
  position: absolute;
  top: 5818px;
  left: 1110px;
  font-size: var(--font-size-base);
  font-weight: 500;
}
.newsletter,
.subscribe {
  position: absolute;
  top: 5893px;
  left: 1117px;
  font-weight: 500;
}
.newsletter {
  top: 5739px;
  left: 998px;
  font-size: var(--font-size-5xl);
}
.newsletter1 {
  position: absolute;
  top: 5038px;
  left: 138px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-inder);
}
.company {
  position: absolute;
  top: 5741px;
  left: 553px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.about-us,
.accountb,
.company-blogs,
.contact,
.legel,
.meet-the-team,
.privecy-policy,
.work-with-us {
  position: absolute;
  top: 5822px;
  left: 553px;
  font-size: var(--font-size-base);
  color: var(--color-gainsboro);
}
.accountb,
.company-blogs,
.contact,
.legel,
.meet-the-team,
.privecy-policy,
.work-with-us {
  top: 5910px;
}
.accountb,
.company-blogs,
.contact,
.legel,
.meet-the-team,
.privecy-policy {
  top: 5954px;
}
.accountb,
.company-blogs,
.contact,
.legel,
.privecy-policy {
  top: 5822px;
  left: 801px;
}
.company-blogs,
.contact,
.legel,
.privecy-policy {
  top: 5866px;
}
.company-blogs,
.contact,
.privecy-policy {
  top: 5910px;
}
.company-blogs,
.privecy-policy {
  top: 5954px;
}
.company-blogs {
  top: 5866px;
  left: 553px;
}
.explore {
  position: absolute;
  top: 5739px;
  left: 801px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.lorem-ipsum-is {
  position: absolute;
  top: 5862px;
  left: 102px;
  font-size: var(--font-size-base);
  font-family: var(--font-imprima);
  display: inline-block;
  width: 288px;
}
.line-icon {
  position: absolute;
  top: 5931px;
  left: 99px;
  width: 358px;
  height: 2px;
}
.div,
.solutyagmailcom,
.usman-center-uttara-12 {
  position: absolute;
  top: 5996px;
  left: 135px;
  font-family: var(--font-imprima);
}
.solutyagmailcom,
.usman-center-uttara-12 {
  top: 6102px;
  left: 138px;
}
.solutyagmailcom {
  top: 6049px;
  left: 137px;
}
.logo-malekairinternational-2-icon {
  position: absolute;
  top: 5739px;
  left: 108px;
  width: 130px;
  height: 83px;
  object-fit: cover;
}
.rectangle-div,
.rectangle-icon {
  position: absolute;
  left: 479px;
  height: 154px;
}
.rectangle-div {
  top: 6148.5px;
  border-radius: var(--br-3xs) 0 0 0;
  background-color: var(--color-white);
  width: 961px;
}
.rectangle-icon {
  top: 6148px;
  width: 161px;
}
.all-copyright-2022 {
  position: absolute;
  top: 6216px;
  left: 1133px;
  font-size: var(--font-size-base);
  font-family: var(--font-imprima);
  color: #2e2e2f;
}
.arrow-down,
.check-circle {
  position: absolute;
  top: 6210.9px;
  left: 833.51px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.check-circle {
  top: 5827.95px;
  left: 1010.43px;
}
.desktop-1-child1,
.desktop-1-child2,
.group-icon,
.vector-icon {
  /* position: absolute; */
  position: fixed;
  height: 0.36%;
  width: 1.39%;
  top: 139.63%;
  right: 89.44%;
  bottom: -39.98%;
  left: 9.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.desktop-1-child1,
.desktop-1-child2,
.vector-icon {
  height: 0.47%;
  width: 1.45%;
  top: 138.45%;
  right: 89.31%;
  bottom: -38.91%;
  left: 9.24%;
}
.desktop-1-child1,
.desktop-1-child2 {
  height: 0.49%;
  width: 1.25%;
  top: 140.83%;
  right: 89.58%;
  bottom: -41.32%;
  left: 9.17%;
}
.desktop-1-child2 {
  height: 0.42%;
  width: 1.39%;
  top: 137.42%;
  right: 28.47%;
  bottom: -37.85%;
  left: 70.14%;
}
.desktop-1-child3 {
  position: absolute;
  top: 6211px;
  left: 694px;
  width: 35px;
  height: 29px;
}
.desktop-1-child4,
.desktop-1-child5,
.ellipse-icon {
  position: absolute;
  top: 6213px;
  left: 758px;
  width: 24px;
  height: 24.95px;
}
.desktop-1-child5,
.ellipse-icon {
  left: 811px;
  height: 24px;
}
.ellipse-icon {
  top: 88px;
  left: 475px;
  border-radius: 50%;
  width: 15px;
  height: 14px;
  object-fit: cover;
}
.en,
.sign-up,
.support,
.usd {
  position: absolute;
  font-size: var(--font-size-base);
}
.support {
  top: 83px;
  left: 314px;
  cursor: pointer;
}
.en,
.sign-up,
.usd {
  top: 85px;
  left: 399px;
}
.en,
.sign-up {
  left: 495px;
}
.sign-up {
  top: 94px;
  left: 1204px;
}
.arizona,
.asia {
  position: absolute;
  top: 361px;
  left: 109px;
  font-size: 96px;
  font-family: var(--font-italiana);
}
.asia {
  top: 383px;
  left: 1196px;
  font-size: 64px;
  color: #c2b9b9;
  display: inline-block;
  width: 166px;
  height: 87px;
}
.ellipse-div {
  position: absolute;
  top: 363px;
  left: 216px;
  border-radius: 50%;
  background-color: var(--color-orangered);
  width: 11px;
  height: 11px;
}
.lorem-ipsum-is1,
.united-state-of {
  position: absolute;
  font-size: var(--font-size-base);
}
.united-state-of {
  top: 359px;
  left: 238px;
  font-weight: 600;
}
.lorem-ipsum-is1 {
  top: 478px;
  left: 105px;
  display: inline-block;
  width: 318px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  width: 137px;
  height: 43px;
}
.book-now,
.vector-parent {
  position: absolute;
  top: 10px;
  left: 20px;
}
.vector-parent {
  top: 553px;
  left: 105px;
  width: 137px;
  height: 43px;
}
.choose-tour,
.home {
  position: absolute;
  top: 563px;
  left: 264px;
}
.home {
  top: 148px;
  left: 313px;
  font-weight: 600;
  color: var(--color-orangered);
}
.cars,
.flights,
.hotels,
.pages,
.tours {
  position: absolute;
  top: 148px;
  left: 890px;
  font-weight: 600;
}
.cars,
.flights,
.pages,
.tours {
  top: 150px;
  left: 1011px;
}
.cars,
.pages,
.tours {
  top: 148px;
  left: 793px;
}
.pages,
.tours {
  left: 683px;
}
.pages {
  left: 576px;
}
.logo-malekairinternational-1-icon {
  position: absolute;
  top: 91px;
  left: 81px;
  width: 211px;
  height: 146px;
  object-fit: cover;
}
.vector-icon1,
.vector-icon2 {
  position: absolute;
  height: 0.12%;
  width: 0.83%;
  top: 1.4%;
  right: 62.85%;
  bottom: 98.48%;
  left: 36.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon2 {
  right: 68.68%;
  left: 30.49%;
}
.features {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.vector-icon3 {
  position: absolute;
  height: 32.77%;
  width: 10%;
  top: 11.75%;
  right: -0.83%;
  bottom: 55.48%;
  left: 90.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.features-parent {
  position: absolute;
  top: 148px;
  left: 415px;
  width: 120px;
  height: 24px;
}
.desktop-1-child6,
.frame-icon {
  position: absolute;
  top: 559.58px;
  left: 1204.59px;
  width: 43.07px;
  height: 42.11px;
}
.frame-icon {
  top: 560px;
  left: 1271px;
  width: 42.38px;
  height: 41.41px;
}
.desktop-1-child7 {
  position: absolute;
  top: 676px;
  left: 191px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1047px;
  height: 225px;
}
.desktop-1-child8,
.desktop-1-child9 {
  position: absolute;
  top: 769px;
  left: 690px;
  width: 24px;
  height: 24px;
}
.desktop-1-child9 {
  top: 770px;
  left: 869px;
}
.check-out,
.travelers {
  position: absolute;
  top: 771px;
  left: 899px;
  color: var(--color-black);
}
.check-out {
  top: 770px;
  left: 720px;
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}
.check-in,
.group-parent {
  position: absolute;
  top: 1px;
  left: 32px;
}
.group-parent {
  top: 767px;
  left: 513px;
  width: 115px;
  height: 25px;
  color: var(--color-black);
}
.group-inner {
  position: absolute;
  top: 2px;
  left: 0;
  width: 24px;
  height: 24px;
}
.going-to,
.group-container {
  position: absolute;
  top: 0;
  left: 32px;
}
.group-container {
  top: 771px;
  left: 205px;
  width: 113px;
  height: 26px;
  color: var(--color-black);
}
.desktop-1-child10 {
  position: absolute;
  top: 806px;
  left: 513px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 150px;
  height: 45px;
}
.ddmmyy {
  position: absolute;
  top: 819px;
  left: 550px;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
}
.desktop-1-child11 {
  position: absolute;
  top: 806px;
  left: 867px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 150px;
  height: 45px;
}
.travelers1 {
  position: absolute;
  top: 819px;
  left: 907px;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
}
.desktop-1-child12 {
  position: absolute;
  top: 806px;
  left: 1061px;
  border-radius: var(--br-3xs);
  background-color: var(--color-orangered);
  width: 150px;
  height: 45px;
}
.search {
  position: absolute;
  top: 817px;
  left: 1102px;
  font-weight: 600;
}
.desktop-1-child13 {
  position: absolute;
  top: 806px;
  left: 688px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 150px;
  height: 45px;
}
.ddmmyy1 {
  position: absolute;
  top: 819px;
  left: 724px;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
}
.desktop-1-child14 {
  position: absolute;
  top: 806px;
  left: 205px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid #b6a7a7;
  box-sizing: border-box;
  width: 280px;
  height: 45px;
}
.location-here {
  position: absolute;
  top: 819px;
  left: 228px;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
}
.cars1,
.flights1,
.holiday,
.packages {
  position: absolute;
  top: 17px;
  left: 229px;
  font-weight: 600;
}
.cars1,
.holiday,
.packages {
  left: 413px;
}
.holiday,
.packages {
  left: 564px;
}
.holiday {
  left: 923px;
}
.group-child1,
.group-child2,
.group-child3 {
  position: absolute;
  top: 0;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 57px;
}
.group-child1 {
  left: 871px;
  border-radius: 0 var(--br-3xs) 0 0;
  width: 176px;
}
.group-child2,
.group-child3 {
  left: 175px;
  width: 175px;
}
.group-child3 {
  left: 697px;
}
.cruise {
  position: absolute;
  top: 17px;
  left: 753px;
  font-weight: 600;
}
.group-child4 {
  left: 349px;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.group-child4,
.group-child5,
.group-child6 {
  position: absolute;
  top: 0;
  width: 175px;
  height: 57px;
}
.group-child5 {
  left: 0;
  border-radius: var(--br-3xs) 0 0 0;
  background-color: var(--color-orangered);
}
.group-child6 {
  left: 523px;
}
.hotel {
  position: absolute;
  top: 17px;
  left: 62px;
  font-weight: 600;
  color: var(--color-white);
}
.flights-parent {
  position: absolute;
  top: 675px;
  left: 191px;
  width: 1047px;
  height: 57px;
  color: var(--color-orangered);
}
.search-icon {
  position: absolute;
  height: 0.32%;
  width: 1.53%;
  top: 2.38%;
  right: 7.71%;
  bottom: 97.3%;
  left: 90.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lorem-ipsum-is2 {
  position: absolute;
  top: 1051px;
  left: 103px;
  color: var(--color-dimgray-100);
}
.desktop-1-child15 {
  position: absolute;
  top: 1037.41px;
  left: 1232px;
  width: 42.14px;
  height: 41.17px;
}
.desktop-1-child16 {
  position: absolute;
  top: 1037px;
  left: 1296.78px;
  width: 42.38px;
  height: 41.41px;
}
.most-popular-tours {
  position: absolute;
  top: 983px;
  left: 103px;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  color: var(--color-black);
}
.view-all-tours {
  position: absolute;
  top: 1046.41px;
  left: 1031px;
  color: var(--color-dimgray-100);
}
.desktop-1-child17 {
  position: absolute;
  top: 1115px;
  left: 765px;
  border-radius: var(--br-xl);
  width: 578px;
  height: 368px;
  object-fit: cover;
}
.days-from {
  position: absolute;
  top: 1416px;
  left: 804px;
  font-weight: 600;
}
.lorem-ipsum-is3 {
  position: absolute;
  top: 1297px;
  left: 804px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 337px;
}
.north-africa {
  position: absolute;
  top: 0;
  left: 21px;
  font-weight: 600;
}
.group-child7 {
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-orangered);
  width: 11px;
  height: 10px;
}
.north-africa-parent {
  position: absolute;
  top: 1150px;
  left: 804px;
  width: 116px;
  height: 19px;
  font-size: var(--font-size-base);
}
.desktop-1-child18 {
  position: absolute;
  top: 1150px;
  left: 1245.01px;
  width: 62.75px;
  height: 59.77px;
}
.reviews {
  position: absolute;
  top: 1416px;
  left: 1213px;
}
.desktop-1-child19 {
  position: absolute;
  top: 1115px;
  left: 99px;
  border-radius: var(--br-xl);
  width: 586px;
  height: 369px;
  object-fit: cover;
}
.days-from1 {
  position: absolute;
  top: 1417px;
  left: 139px;
  font-weight: 600;
}
.lorem-ipsum-is4 {
  position: absolute;
  top: 1307px;
  left: 138px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 347px;
}
.australia {
  position: absolute;
  top: 0;
  left: 18px;
  font-weight: 600;
}
.group-child8 {
  position: absolute;
  top: 4px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-orangered);
  width: 11px;
  height: 10px;
}
.australia-parent {
  position: absolute;
  top: 1150px;
  left: 138px;
  width: 88px;
  height: 19px;
  font-size: var(--font-size-base);
}
.desktop-1-child20 {
  position: absolute;
  top: 1150.24px;
  left: 587.24px;
  width: 62.75px;
  height: 59.77px;
}
.lorem-ipsum-is5,
.reviews1 {
  position: absolute;
  top: 1417px;
  left: 555px;
}
.lorem-ipsum-is5 {
  top: 1625px;
  left: 104px;
  color: var(--color-dimgray-100);
}
.desktop-1-child21 {
  position: absolute;
  top: 1689px;
  left: 100px;
  border-radius: var(--br-xl);
  width: 388px;
  height: 287px;
  object-fit: cover;
}
.america {
  position: absolute;
  top: 1798px;
  left: 200px;
  font-size: var(--font-size-29xl);
  display: inline-block;
  font-family: var(--font-inria-serif);
  width: 188px;
  height: 61px;
}
.desktop-1-child22,
.desktop-1-child23,
.desktop-1-child24,
.desktop-1-child25,
.desktop-1-child26 {
  position: absolute;
  top: 2010px;
  left: 100px;
  border-radius: var(--br-xl);
  width: 388px;
  height: 287px;
  object-fit: cover;
}
.desktop-1-child23,
.desktop-1-child24,
.desktop-1-child25,
.desktop-1-child26 {
  left: 528px;
}
.desktop-1-child24,
.desktop-1-child25,
.desktop-1-child26 {
  left: 954px;
}
.desktop-1-child25,
.desktop-1-child26 {
  top: 1689px;
  left: 532px;
  width: 380px;
  height: 279px;
}
.desktop-1-child26 {
  left: 953px;
  width: 388px;
  height: 287px;
}
.top-destinations {
  position: absolute;
  top: 1557px;
  left: 104px;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  color: var(--color-black);
}
.africa,
.australia1,
.india,
.japan,
.maldives {
  position: absolute;
  font-size: var(--font-size-29xl);
  font-family: var(--font-inria-serif);
}
.maldives {
  top: 1798px;
  left: 623px;
  display: inline-block;
  width: 198px;
  height: 61px;
}
.africa,
.australia1,
.india,
.japan {
  top: 2121px;
  left: 228px;
}
.africa,
.australia1,
.india {
  left: 1090px;
}
.africa,
.australia1 {
  left: 620px;
}
.africa {
  top: 1798px;
  left: 1079px;
  display: inline-block;
  width: 137px;
  height: 61px;
}
.desktop-1-child27,
.desktop-1-child28 {
  position: absolute;
  height: 0.38%;
  width: 11.39%;
  top: 22.47%;
  right: 17.5%;
  bottom: 77.15%;
  left: 71.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.desktop-1-child28 {
  height: 0.35%;
  top: 22.5%;
  right: 63.82%;
  left: 24.79%;
}
.interesting-stories,
.view-all-destinations,
.watch-and-be {
  position: absolute;
  top: 1622px;
  left: 1116px;
  color: var(--color-dimgray-100);
}
.interesting-stories,
.watch-and-be {
  top: 2437px;
  left: 102px;
}
.interesting-stories {
  top: 2369px;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  color: var(--color-black);
}
.desktop-1-child29,
.desktop-1-child30,
.desktop-1-child31 {
  position: absolute;
  top: 2501px;
  left: 102px;
  border-radius: var(--br-3xs);
  width: 276px;
  height: 374px;
  object-fit: cover;
}
.desktop-1-child30,
.desktop-1-child31 {
  left: 741px;
}
.desktop-1-child31 {
  left: 420px;
}
.desktop-1-child32 {
  position: absolute;
  top: 2956px;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 283px;
}
.our-partners {
  position: absolute;
  top: 10px;
  left: 0;
}
.image-3-icon,
.image-4-icon,
.image-5-icon {
  position: absolute;
  top: 2px;
  left: 636px;
  width: 232px;
  height: 69px;
  object-fit: cover;
}
.image-4-icon,
.image-5-icon {
  top: 0;
  left: 947px;
  width: 206px;
  height: 73px;
}
.image-5-icon {
  top: 5px;
  left: 329px;
  width: 229px;
  height: 62px;
}
.our-partners-parent {
  position: absolute;
  top: 3061px;
  left: 144px;
  width: 1153px;
  height: 73px;
  font-size: 40px;
  color: var(--color-orangered);
  font-family: var(--font-joti-one);
}
.what-theyre-saying {
  position: absolute;
  top: 3365px;
  left: 510px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-imprima);
  color: var(--color-black);
}
.testimonials-and-review {
  position: absolute;
  top: 3316px;
  left: 534px;
  font-size: var(--font-size-13xl);
  color: var(--color-orangered);
}
.desktop-1-child33 {
  position: absolute;
  top: 3765px;
  left: 544px;
  background-color: var(--color-white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  width: 352px;
  height: 384px;
}
.lorem-ipsum-is6 {
  margin: 0;
}
.lorem-ipsum-is-container {
  position: absolute;
  top: 3873px;
  left: 578px;
  font-size: var(--font-size-base);
  line-height: 25px;
  font-family: var(--font-imprima);
  color: var(--color-dimgray-200);
  text-align: center;
  display: inline-block;
  width: 268px;
  height: 101px;
}
.desktop-1-child34 {
  position: absolute;
  height: 0.4%;
  width: 11.25%;
  /* width: 6.25%; */
  top: 60.49%;
  right: 44.78%;
  bottom: 39.13%;
  left: 43.89%;
  /* left: 38.89%; */
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.kevin-martin {
  position: absolute;
  top: 4049px;
  left: 660px;
  font-weight: 500;
  color: var(--color-black);
}
.customer {
  position: absolute;
  top: 4081px;
  left: 674px;
  font-size: var(--font-size-base);
  color: var(--color-orangered);
}
.desktop-1-child35 {
  position: absolute;
  top: 3765px;
  left: 925px;
  background-color: var(--color-white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  width: 352px;
  height: 384px;
}
.lorem-ipsum-is7 {
  position: absolute;
  top: 3874px;
  left: 968px;
  font-size: var(--font-size-base);
  line-height: 25px;
  font-family: var(--font-imprima);
  color: var(--color-dimgray-200);
  text-align: center;
  display: inline-block;
  width: 268px;
}
.desktop-1-child36 {
  position: absolute;
  height: 0.4%;
  width: 11.25%;
  /* width: 6.25%; */
  top: 60.49%;
  right: 17.91%;
  bottom: 39.11%;
  left: 70.76%;
  /* left: 58.76%; */
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.customer1 {
  position: absolute;
  top: 4081px;
  left: 1056px;
  font-size: var(--font-size-base);
  color: var(--color-orangered);
}
.jecchica-brown {
  position: absolute;
  top: 4051px;
  left: 1024px;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  width: 154px;
  height: 20px;
}
.desktop-1-child37 {
  position: absolute;
  top: 3765px;
  left: 154px;
  background-color: var(--color-white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  width: 352px;
  height: 384px;
}
.desktop-1-child38 {
  position: absolute;
  height: 0.4%;
  /* height: 0.27%; */
  width: 11.25%;
  /* width: 6.25%; */
  top: 60.49%;
  right: 71.46%;
  bottom: 39.11%;
  left: 17.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.shirly-smith {
  position: absolute;
  top: 4049px;
  left: 273px;
  font-weight: 500;
  color: var(--color-black);
}
.customer2,
.lorem-ipsum-is8 {
  position: absolute;
  top: 4081px;
  left: 285px;
  font-size: var(--font-size-base);
  color: var(--color-orangered);
}
.lorem-ipsum-is8 {
  top: 3874px;
  left: 196px;
  line-height: 25px;
  font-family: var(--font-imprima);
  color: var(--color-dimgray-200);
  text-align: center;
  display: inline-block;
  width: 268px;
}
.desktop-1-child39 {
  position: absolute;
  top: 4179px;
  left: 676px;
  width: 89px;
  height: 16px;
}
.recent-blog-posts {
  position: absolute;
  top: 4275px;
  left: 106px;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  color: var(--color-black);
}
.june-31th-by,
.june-31th-by1,
.june-31th-by2,
.latin-literature-from {
  position: absolute;
  top: 4343px;
  left: 107px;
  color: var(--color-dimgray-100);
}
.june-31th-by,
.june-31th-by1,
.june-31th-by2 {
  top: 4707px;
  left: 170px;
  font-weight: 600;
}
.june-31th-by1,
.june-31th-by2 {
  left: 1025px;
}
.june-31th-by2 {
  left: 598px;
}
.desktop-1-child40,
.desktop-1-child41,
.desktop-1-child42 {
  position: absolute;
  top: 4407px;
  left: 958px;
  border-radius: var(--br-3xs);
  width: 381px;
  height: 252px;
  object-fit: cover;
}
.desktop-1-child41,
.desktop-1-child42 {
  top: 4408px;
  left: 103px;
  width: 382px;
}
.desktop-1-child42 {
  top: 4407px;
  left: 531px;
  width: 383px;
}
.lorem-ipsum-is10,
.lorem-ipsum-is11,
.lorem-ipsum-is9 {
  position: absolute;
  top: 4767px;
  left: 103px;
  line-height: 30px;
  color: var(--color-dimgray-100);
  display: inline-block;
  width: 287px;
}
.lorem-ipsum-is10,
.lorem-ipsum-is11 {
  left: 958px;
  width: 285px;
}
.lorem-ipsum-is11 {
  left: 531px;
  width: 287px;
}
.group-child9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-orangered);
  width: 116px;
  height: 47px;
}
.streem {
  position: absolute;
  top: 9px;
  left: 17px;
}
.rectangle-parent {
  position: absolute;
  top: 4435px;
  left: 121px;
  width: 116px;
  height: 47px;
  font-size: var(--font-size-5xl);
}
.frame-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-dimgray-200);
  width: 105px;
  height: 47px;
}
.press {
  position: absolute;
  top: 9px;
  left: 20px;
}
.group-div,
.rectangle-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 105px;
  height: 47px;
}
.group-div {
  top: 4435px;
  left: 990px;
  font-size: var(--font-size-5xl);
}
.rectangle-container,
.rectangle-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 116px;
  height: 47px;
}
.rectangle-container {
  top: 4435px;
  left: 571px;
  font-size: var(--font-size-5xl);
}
.desktop-1-child43 {
  position: absolute;
  top: 4937px;
  left: 99px;
  border-radius: 12px;
  width: 1240px;
  height: 300px;
  object-fit: cover;
}
.desktop-1-child44,
.desktop-1-child45 {
  position: absolute;
  top: 5040px;
  left: 411px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
  width: 372px;
  height: 74px;
}
.desktop-1-child45 {
  left: 818px;
}
.destination,
.email {
  position: absolute;
  font-family: var(--font-imprima);
}
.destination {
  top: 5064px;
  left: 438px;
  display: inline-block;
  width: 176px;
}
.email {
  top: 5063px;
  left: 844px;
}
.desktop-1-child46 {
  position: absolute;
  top: 5044px;
  left: 1223px;
  border-radius: 50%;
  background-color: var(--color-orangered);
  width: 68px;
  height: 66px;
}
.group-child12,
.group-child13,
.group-child14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 311px;
  height: 284px;
  object-fit: cover;
}
.group-child13,
.group-child14 {
  left: 615px;
  width: 275px;
}
.group-child14 {
  left: 311px;
  width: 303px;
}
.adam-birkett-75efpyxu3wg-unspl-icon,
.mae-mu-c5zsv-p-yi-unsplash-1-icon {
  position: absolute;
  top: 0;
  left: 890px;
  width: 280px;
  height: 284px;
  object-fit: cover;
}
.adam-birkett-75efpyxu3wg-unspl-icon {
  left: 1170px;
  width: 270px;
}
.rectangle-parent2 {
  position: absolute;
  top: 5317px;
  left: 0;
  width: 1440px;
  height: 284px;
}
.newsletter2,
.sign-up-to {
  position: absolute;
  top: 34px;
  left: 0;
}
.newsletter2 {
  top: 0;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  font-family: var(--font-inter);
}
.sign-up-to-receive-the-best-of-parent {
  position: absolute;
  top: 5051px;
  left: 142px;
  width: 219px;
  height: 53px;
  font-size: var(--font-size-base);
  font-family: var(--font-imprima);
}
.desktop-1-child47 {
  position: absolute;
  height: 0.32%;
  width: 1.94%;
  top: 80.4%;
  right: 11.74%;
  bottom: 19.27%;
  left: 86.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.desktop-1-child48,
.desktop-1-child49,
.desktop-1-child50,
.desktop-1-child51 {
  position: absolute;
  height: 0.23%;
  width: 1.04%;
  top: 94.46%;
  right: 29.86%;
  bottom: 5.31%;
  left: 69.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.desktop-1-child49,
.desktop-1-child50,
.desktop-1-child51 {
  height: 0.28%;
  width: 1.25%;
  top: 95.19%;
  right: 91.74%;
  bottom: 4.53%;
  left: 7.01%;
}
.desktop-1-child50,
.desktop-1-child51 {
  height: 0.22%;
  width: 1.39%;
  top: 96.06%;
  right: 91.6%;
  bottom: 3.72%;
}
.desktop-1-child51 {
  height: 0.34%;
  width: 1.25%;
  top: 96.84%;
  bottom: 2.82%;
  left: 7.15%;
}
.desktop-1-child52,
.desktop-1-child53,
.desktop-1-child54,
.desktop-1-child55 {
  position: absolute;
  top: 2665px;
  left: 190px;
  border-radius: 50%;
  width: 101px;
  height: 98px;
  object-fit: cover;
}
.desktop-1-child53,
.desktop-1-child54,
.desktop-1-child55 {
  top: 2674px;
  left: 1150px;
}
.desktop-1-child54,
.desktop-1-child55 {
  left: 829px;
}
.desktop-1-child55 {
  top: 2666px;
  left: 508px;
}
.africa1,
.greece,
.russia,
.south-pole {
  position: absolute;
  top: 2784px;
  left: 189px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-imprima);
}
.africa1,
.greece,
.south-pole {
  top: 2783px;
  left: 1148px;
}
.africa1,
.south-pole {
  left: 834px;
}
.south-pole {
  left: 475px;
}
.group-child16 {
  position: absolute;
  top: 0;
  left: 1px;
  border-radius: 50%;
  width: 101px;
  height: 98px;
  object-fit: cover;
}
.ellipse-parent,
.russia3 {
  position: absolute;
  top: 119px;
  left: 0;
}
.ellipse-parent {
  top: 2608px;
  left: 189px;
  width: 102px;
  height: 161px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-imprima);
}
.group-child17 {
  position: absolute;
  top: 0;
  left: 2px;
  border-radius: 50%;
  width: 101px;
  height: 98px;
  object-fit: cover;
}
.ellipse-group,
.greece3 {
  position: absolute;
  top: 110px;
  left: 0;
}
.ellipse-group {
  top: 2612px;
  left: 1148px;
  width: 105px;
  height: 152px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-imprima);
}
.group-child18 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 101px;
  height: 98px;
  object-fit: cover;
}
.africa4 {
  position: absolute;
  top: 110px;
  left: 5px;
}
.ellipse-container {
  position: absolute;
  top: 2612px;
  left: 829px;
  width: 101px;
  height: 152px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-imprima);
}
.group-child19 {
  position: absolute;
  top: 0;
  left: 33px;
  border-radius: 50%;
  width: 101px;
  height: 98px;
  object-fit: cover;
}
.ellipse-parent1,
.south-pole3 {
  position: absolute;
  top: 118px;
  left: 0;
}
.ellipse-parent1 {
  top: 2608px;
  left: 475px;
  width: 167px;
  height: 160px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-imprima);
}
.desktop-1-child77 {
  position: absolute;
  top: 2506px;
  left: 1389px;
  background-color: var(--color-white);
  width: 1636px;
  height: 404px;
}
.desktop-1-child78,
.desktop-1-child79,
.desktop-1-child80 {
  position: absolute;
  top: 2507px;
  left: 2338px;
  border-radius: var(--br-3xs);
  width: 278px;
  height: 374px;
  object-fit: cover;
}
.desktop-1-child79,
.desktop-1-child80 {
  left: 2018px;
  width: 276px;
}
.desktop-1-child80 {
  left: 1697px;
}
.desktop-1-child81,
.desktop-1-child82,
.desktop-1-child83,
.desktop-1-child84 {
  position: absolute;
  top: 2671px;
  left: 1466px;
  border-radius: 50%;
  width: 101px;
  height: 98px;
  object-fit: cover;
}
.desktop-1-child82,
.desktop-1-child83,
.desktop-1-child84 {
  top: 2680px;
  left: 2440px;
}
.desktop-1-child83,
.desktop-1-child84 {
  left: 2105px;
}
.desktop-1-child84 {
  top: 2672px;
  left: 1793px;
}
.africa5,
.greece4,
.russia4,
.south-pole4 {
  position: absolute;
  top: 2790px;
  left: 1463px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-imprima);
}
.africa5,
.greece4,
.south-pole4 {
  top: 2789px;
  left: 2431px;
}
.africa5,
.south-pole4 {
  left: 2108px;
}
.south-pole4 {
  left: 1746px;
}
.desktop-1-child85 {
  position: absolute;
  top: 175px;
  left: 313px;
  background-color: var(--color-white);
  width: 61px;
  height: 2px;
}
.desktop-1-child86,
.desktop-1-child87,
.desktop-1-child88 {
  position: absolute;
  top: 3474px;
  left: 200px;
  border-radius: 50%;
  width: 260px;
  height: 260px;
  object-fit: cover;
}
.desktop-1-child87,
.desktop-1-child88 {
  left: 584px;
}
.desktop-1-child88 {
  left: 971px;
}
.desktop-1-child89,
.desktop-1-child90,
.desktop-1-child91 {
  position: absolute;
  top: 4693px;
  left: 103px;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  object-fit: cover;
}
.desktop-1-child90,
.desktop-1-child91 {
  left: 531px;
}
.desktop-1-child91 {
  left: 958px;
}
.desktop-1-child92 {
  position: absolute;
  height: 0.48%;
  width: 1.73%;
  top: 98.49%;
  right: 60.42%;
  bottom: 1.02%;
  left: 37.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.desktop-1-child93 {
  position: absolute;
  top: calc(50% + 68px);
  left: calc(50% + 641px);
  width: 41.91px;
  height: 40.92px;
  cursor: pointer;
}
.desktop-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 6302px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}








/* Base styles for all screen sizes */
body {
  font-size: 16px;
}

/* Responsive styles for screens narrower than 768px */
@media (max-width: 768px) {
  body {
      font-size: 14px;
  }
  /* Add other responsive styles here */
}

/* Responsive styles for screens narrower than 480px */
@media (max-width: 480px) {
  body {
      font-size: 12px;
  }
  /* Add other responsive styles here */
}

.container {
  width: 100%;
  max-width: 1200px; /* Set a maximum width if needed */
  margin: 0 auto; /* Center the container */
}
img {
  max-width: 100%;
  height: auto;
}
/* Hide an element on smaller screens */
@media (max-width: 768px) {
  .hide-on-small {
      display: none;
  }
}
